--extra-index-url https://download.pytorch.org/whl/cpu
numpy
onnxruntime
onnxruntime-genai
huggingface-hub
soundfile
torch
silero-vad
sounddevice
simpleaudio
grpcio
pyzmq
python-dotenv
onnx-asr
llama-cpp-python
kokoro-onnx
pandas
sentence-transformers
neo4j
neo4j-graphrag
