numpy~=1.26.4
onnxruntime~=1.22.1
huggingface-hub~=0.32.6
soundfile~=0.13.1
torch~=2.7.1
sounddevice~=0.5.2
simpleaudio~=1.0.4
grpcio~=1.73.1
pyzmq~=27.0.2
langextract~=1.0.9
python-dotenv~=1.1.1
PyYAML~=6.0.2
pydantic~=2.9.2
ollama~=0.5.4
onnx-asr~=0.6.1
llama-cpp-python~=0.3.16
sentence-transformers~=5.0.0
gqlalchemy~=1.5.1
pynput~=1.7.8